.projects__container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: center;
    margin-left: 250px;
    height: 97vh;
    width: auto;
    color: white;
    background: inherit;    
}

.heading__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 0 1% 0;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 23%;
    margin-bottom: 5%;
}

.carousel__img {
    width: 500px;
    height: 500px;
    margin-bottom: 15px;
}

.carousel__header {
    margin-bottom: 15px;
}

.github__link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin: 5% 0;

}

li ::marker {
    z-index: 0;
}

@media only screen and (max-width: 1300px) {
    .carousel {
        /* max-width: 75%;
        margin-left: 25%; */
    }

    .carousel__header {
    margin-bottom: 15px;
}

    .heading__text {
        margin-bottom: 0%;
    }
}

@media only screen and (max-width: 400px) {
    .carousel {
        width: 100%;
        margin-right: 65%;
    }

    .heading__text {
        width: 100%;
        /* text-align: center; */
    }
}