.projects__container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: center; 
    margin-left: 250px;
    height: 100vh;
    width: auto;
    color: white;
    background: inherit;    
}

.heading__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.carousel__img {
    width: 500px;
    height: 500px;
    margin-bottom: 15px;
}

.carousel__header {
    margin-bottom: 15px;
}

.github__link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}