.landing {
    width: auto;
    margin-left: 250px;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

.landing__photo {
    display: flex;
    justify-self: center;
    width: auto;
    image-resolution:initial;
}

img {
    width: 25%;
}

.landing__text {
    justify-self: center;
    width: auto;
}