
.about__container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__text {
    color: white;
    flex-direction: column;
}