body {
    background: url("../../images/bg_bggenerator_com.jpg");
    overflow-x: hidden;
}

.home__container {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: center; 
    margin-left: 25%;
    height: 97vh;
    width: auto;
    color: white;
    background: inherit;    
}

.home__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-basis:0;
    background: transparent;
    margin-left: 10%;
}

.home__text {
    display: flex;
    align-items: flex-start;
    font-size: x-large;
}

.home__item img {
    width: 350px;
    height: auto;
    border-radius: 50% 25%;
    
}

@media screen and (max-width: 1100px) {
    .home__container {
        flex-direction: column;
    }
    
    .home__text {
        padding-top: 25%;
        height: 224px;
    }

    .home__item {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 750px) {
    .home__container {
        flex-direction: column;
        margin-left: 10%;
        /* height: 100%; */
    }
    
    .home__item img {
        width: 15%;
    }

    .home__text {
        margin-right: 12%;
        margin-top: 
    }
}
