body {
    background: url("../../images/bg_bggenerator_com.jpg");
    overflow-x: hidden;
}

.home__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;  
    justify-content: center; 
    margin-right: 10%;
    height: 97vh;
    width: 100%;
    color: white;
    background: inherit;    
}

.home__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-basis:0;
    background: transparent;
}

.home__text {
    display: flex;
    align-items: flex-start;
    font-size: x-large;
}

.home__item img {
    width: 350px;
    height: auto;
    border-radius: 50% 25%;
    
}

@media screen and (max-width: 1100px) {
    .home__container {
        width: auto;
        margin-left: 5%;
    }
    .home__item img {
        width: 75%;
    }
}

@media screen and (max-width: 750px) {
    .home__container {
        flex-direction: column;
        margin-right: 25%;
        margin-top: 25%;
    }
    
    
}


@media screen and (max-width: 450px) {

    .home__container {
        margin-left: 0;
    }

    .home__item {
        margin-bottom: 0;
        height: auto;
    }
    
    .home__item img {
        width: 150%;
    }
}
