.contact__container{
    width: 100%;
    height: 97vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 120%;
}

.contact__header {
    padding-bottom: 25%;
}

.contact__links{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 35%;
    overflow: hidden;
}

.contact__icon {
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    border: 5px solid white;
}

.contact__text {
    padding-left:20px;
}

@media (max-width: 1100px) {
    .contact__container {
        width:100%;
        margin-left: 27%;
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .contact__container {
        margin-left: 15%;
    }
}

@media (max-width: 550px) {
    .contact__container {
        margin-left: 0;
    }

    .contact__links {
        display: flex;
        width: 100%;
        padding-left: 12%;
        justify-content: center;
    }
}