.contact__container{
    width: auto;
    height: 97vh;
    margin-left: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact__header {
    padding-bottom: 25%;
}

.contact__links{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 35%;
    overflow: hidden;
    
}

.contact__icon {
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    border: 5px solid white;
}

.contact__text {
    padding-left:20px;
}

@media (max-width: 900px) {
    .contact__container {
        margin-left: 10%;
    }

    .contact__links {
        padding-left: 25%;
    }
}