#sidebar__container {
    position: fixed;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    background-color: #434242;
}

#photo {
    display: flex;
    align-self: center;
    border-radius: 50%;
    width: 145px;
    margin-bottom: 75%;
}

.link {
    display: flex;
    width: auto;
    height:fit-content;
    align-items: center;
    justify-content:start;
    /* padding-left: 65px;    */
    color: white;
    padding: 5% 0;
    padding-left: 70px;
}

.menu__items :hover {
    background-color: aquamarine;
    transition: .5s;
}

.menu__items {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: space-around;
}

.menu__item {
    display: inline-flex;
}

/* .menu__slider {
    width: 250px;
    background-color: seagreen;
    height: 100%;
}

.avatar {
    margin: 0.5rem auto;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.listItem {
    color: white;
}

.header {
    background-color: none;
} */