@keyframes fade-in {
    0% {opacity: 0; transform: translateX(-20px);}
    100% {opacity: 1; transform: translateX(0);}
}

#sidebar__container {
    position: fixed;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    background-color: none;
    z-index:5;
}

#photo {
    display: flex;
    align-self: center;
    border-radius: 50%;
    width: 145px;
    margin-bottom: 75%;
}

.menu__item {
    display: flex;
    width: auto;
    height:fit-content;
    align-items: center;
    justify-content:flex-start;
    color: white;
    padding: 5% 0;
    padding-left: 70px;
}

.menu__items {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: space-around;
    
}

.menu__items :hover {
    background-color: rgba(127, 255, 212, 0.541);
    transition: .5s ease-in-out, .5s ease-in-out;
    cursor: pointer;
}

.menu__item :hover {
    background-color: transparent;
}

.IconButton :hover {
    background-color: transparent;
}