.footer {
    color: white;
    display: absolute;
    text-align: center;
    margin-left: 6.65%;
    /* background-color: black; */
}

@media (max-width: 900px) {
    .footer {
        margin-left: 0;
        padding-top: 5%;
    }
}