.footer {
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    /* background-color: black; */
}

@media (max-width: 900px) {
    .footer {
        margin-left: 0;
    }
}